<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2> You account was created successfully </h2>
        <p> You can now login to your account by using your creditencials </p>
        <hr />
        <p> Thank you ! </p>
    </div>
</div>